a {
  color: inherit;

  &:hover, &:focus {
    text-decoration: underline !important;
  }
}

html {
  height: 100%;
  display: flex;
}

body {
  margin: 0;
  flex: 1;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}