.has-border-radius-5{
  border-radius: 5px;
}

.has-border-radius-500{
  border-radius: 500px;
}

.has-overflow-hidden{
  overflow: hidden;
}


.has-height-100-percent{
  height: 100%;
}

.has-width-100-percent{
  width: 100%;
}

.has-max-width-400{
  max-width: 400px;
}