.material-design-icon.is-icon-2x {
  height: 1.5em !important;
  width: 1.5em !important;
}

.material-design-icon.is-icon-2x > .material-design-icon__svg {
  height: 1.5em !important;
  width: 1.5em !important;
}


.is-icon-2x{
  position: relative;
  top: -2px;
}