.image.is-12x12 {
  height: 12px;
  width: 12px;
}

.is-background-contain{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
